doctype html
html(lang='en')
    head
        title Major Project
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='css/font-awesome.css')
        link(rel='stylesheet', type='text/css', href='css/animate.css')
        link#camera-css(rel='stylesheet', href='css/camera.css', type='text/css', media='all')
        link(rel='stylesheet', type='text/css', href='css/slicknav.css')
        link(rel='stylesheet', href='css/prettyPhoto.css', type='text/css', media='screen', title='prettyPhoto main stylesheet', charset='utf-8')
        link(rel='stylesheet', type='text/css', href='css/style.css')
        script(type='text/javascript', src='js/jquery-1.8.3.min.js')
        link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700|Open+Sans:700', rel='stylesheet', type='text/css')
        script(type='text/javascript', src='js/jquery.mobile.customized.min.js')
        script(type='text/javascript', src='js/jquery.easing.1.3.js')
        script(type='text/javascript', src='js/camera.min.js')
        script(type='text/javascript', src='js/myscript.js')
        script(src='js/sorting.js', type='text/javascript')
        script(src='js/jquery.isotope.js', type='text/javascript')
        // script type="text/javascript" src="js/jquery.nav.js"></script
        script.
            jQuery(function(){
                jQuery('#camera_wrap_1').camera({
                    transPeriod: 500,
                    time: 3000,
                    height: '490px',
                    thumbnails: false,
                    pagination: true,
                    playPause: false,
                    loader: false,
                    navigation: false,
                    hover: false
                });
            });
    body
        // home start
        #overview
            .headerLine
                #menuF.default
                    .container
                        .row
                            .logo.col-md-4
                                div
                                    a(href='#')
                                        img(src='images/twitter_logo_sml.png')
                            .col-md-8
                                .navmenu(style='text-align: center;')
                                    ul#menu
                                        li.active
                                            a.page-scroll(href='#overview')
                                                i.fa.fa-fw.fa-pencil
                                                |  Overview
                                        li
                                            a.page-scroll(href='#analysis')
                                                i.fa.fa-fw.fa-search
                                                |  Analysis
                                        li
                                            a.page-scroll(href="#data-vis")
                                                i.fa.fa-fw.fa-bar-chart
                                                |  Visualisation
                                        li
                                            a.page-scroll(href='#results')
                                                i.fa.fa-fw.fa-clipboard
                                                |  Results
                                        li.last
                                            a.page-scroll(href='#news')
                                                i.fa.fa-fw.fa-eye
                                                |  Reflection
                                        // li><a href="#features">Features</a></li
                .container
                    .row.wrap
                        .col-md-12.gallery
                            #camera_wrap_1.camera_wrap.camera_white_skin
                                div(data-thumb='', data-src='images/slides/blank.gif')
                                    .img-responsive.camera_caption.fadeFromBottom
                                        h2 Major Project
                                        h3 Final year disseration project. By Thomas Plumpton.
                                div(data-thumb='', data-src='images/slides/blank.gif')
                                    .img-responsive.camera_caption.fadeFromBottom
                                        h2 Pseudo &amp Truly Random
                                        h3 Determining whether Twitter's Tweets are Pseudo-Random or Truly-Random.
                                div(data-thumb='', data-src='images/slides/blank.gif')
                                    .img-responsive.camera_caption.fadeFromBottom
                                        h2 Twitter &amp; Robocode
                                        h3 Integrating IBM's Robocode Programming Game with the Twitter API.
                                div(data-thumb='', data-src='images/slides/blank.gif')
                                    .img-responsive.camera_caption.fadeFromBottom
                                        h2 D3.JS (Data Driven Documents)
                                        h3 Data visualisation powered by D3.JS.
                            // #camera_wrap_1
            .container
                .row
                    .col-md-4.project
                        h3#counter 0
                        h4
                            i.fa.fa-fw.fa-twitter
                            |  Tweets Analysed
                        p
                            | Thousands of Tweets stored in the MongoDB Atlas Cluster are parsed using a bespoke Java program and Twitter4J.
                    .col-md-4.project
                        h3#counter1 0
                        h4
                            i.fa.fa-fw.fa-sort-alpha-asc
                            |  Characters Counted
                        p
                            | Thousands of Tweets means millions of characters. Each character represents a single instruction for a TwitterRobot.
                    .col-md-4.project
                        h3#counter2(style='margin-left: 20px;') 0
                        h4(style='margin-left: 20px;')
                            i.fa.fa-fw.fa-smile-o
                            |  Emoji's Counted
                        p
                            | Thousands of annoying little emoji's, varied by Fitzpatrick Modifiers.
            .container
                .row
                    .col-md-12.cBusiness
                        h3 Analysing the Randomness of Social Media
                        h4 Statistical Overview
            .container.loading
                i.fa.fa-fw.fa-lg.fa-4x.fa-pulse.fa-spinner
                p Analysing Data...
            .container.characterStatsPie
                .row
                    .col-xs-1.bar
                        .progB.chart.a(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 A
                    .col-xs-1.bar
                        .progB.chart.b(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 B
                    .col-xs-1.bar
                        .progB.chart.c(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 C
                    .col-xs-1.bar
                        .progB.chart.d(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 D
                    .col-xs-1.bar
                        .progB.chart.e(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 E
                    .col-xs-1.bar
                        .progB.chart.f(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 F
                    .col-xs-1.bar
                        .progB.chart.g(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 G
                    .col-xs-1.bar
                        .progB.chart.h(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 H
                    .col-xs-1.bar
                        .progB.chart.i(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 I
                    .col-xs-1.bar
                        .progB.chart.j(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 J
                    .col-xs-1.bar
                        .progB.chart.k(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 K
                    .col-xs-1.bar
                        .progB.chart.l(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 L
                    .col-xs-1.bar
                        .progB.chart.m(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 M
                    .col-xs-1.bar
                        .progB.chart.n(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 N
                    .col-xs-1.bar
                        .progB.chart.o(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 O
                    .col-xs-1.bar
                        .progB.chart.p(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 P
                    .col-xs-1.bar
                        .progB.chart.q(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 Q
                    .col-xs-1.bar
                        .progB.chart.r(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 R
                    .col-xs-1.bar
                        .progB.chart.s(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 S
                    .col-xs-1.bar
                        .progB.chart.t(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 T
                    .col-xs-1.bar
                        .progB.chart.u(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 U
                    .col-xs-1.bar
                        .progB.chart.v(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 V
                    .col-xs-1.bar
                        .progB.chart.w(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 W
                    .col-xs-1.bar
                        .progB.chart.x(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 X
                    .col-xs-1.col-md-offset-5.bar
                        .progB.chart.y(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 Y
                    .col-xs-1.bar
                        .progB.chart.z(data-animate='3500')
                            .chart.chart-content
                                .percentage()
                                    span.percent
                        .textP
                            h3 Z

        //Data Analysis
        #analysis
            .line2
                .container
                    .row.Fresh
                        h1.section-title
                            i.fa.fa-fw.fa-search
                            |  Analysis
                        .col-md-4
                            i.fa.fa-eye
                            h4 Visual Analysis
                            p
                                | One method of determining the random nature of the data is a simple visual analysis. See the data visualisation below.
                        .col-md-4
                            i.fa.fa-flask
                            h4 Mathematical Analysis
                            p
                                | Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor. feugiat
                        .col-md-4
                            i.fa.fa-times
                            h4 Statistical Analysis
                            p
                                | Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor. feugiat
            //.container
                .row
                    .col-md-12.wwa
                        span(name='about')
                        h3 Who We Are? Meet Our Team!
                        h4
                            | We listen, we discuss, we advise and develop. We love to learn and use the latest technologies.
            //.container
                .row.team
                    .col-md-4.b1
                        img.img-responsive(src='images/picTeam/picT1.png')
                        h4 Tom Simpson
                        h5 CEO
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            br
                            | quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.
                        ul
                            li
                                a(href='#')
                                    i.fa.fa-facebook-square
                            li
                                a(href='#')
                                    i.fa.fa-pinterest
                            li
                                a(href='#')
                                    i.fa.fa-twitter
                            li
                                a(href='#')
                                    i.fa.fa-google-plus-square
                    .col-md-4
                        img.img-responsive(src='images/picTeam/picT2.png')
                        h4 John Doe
                        h5 Project Manager
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            br
                            |  quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.
                        ul
                            li
                                a(href='#')
                                    i.fa.fa-facebook-square
                            li
                                a(href='#')
                                    i.fa.fa-pinterest
                            li
                                a(href='#')
                                    i.fa.fa-twitter
                            li
                                a(href='#')
                                    i.fa.fa-google-plus-square
                    .col-md-4.b3
                        img.img-responsive(src='images/picTeam/picT3.png')
                        h4 Anna White
                        h5 Developer
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            br
                            |  quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.
                        ul
                            li
                                a(href='#')
                                    i.fa.fa-facebook-square
                            li
                                a(href='#')
                                    i.fa.fa-pinterest
                            li
                                a(href='#')
                                    i.fa.fa-twitter
                            li
                                a(href='#')
                                    i.fa.fa-google-plus-square
            //.container
                .row
                    .col-md-12.hr1
                        hr
            //.container
                .row
                    .col-md-3.bar
                        .progB.chart(data-percent='64', data-animate='3500')
                            .chart.chart-content
                                .percentage(data-percent='64')
                                    span.percent 64
                        .textP
                            h3 WordPress
                            p
                                | Nulla consectetur ornare nibh, a auctor
                                br
                                | mauris scelerisque eu proin nec urna quis.
                    .col-md-3.bar
                        .progB.chart(data-percent='22', data-animate='3500')
                            .chart.chart-content
                                .percentage(data-percent='22')
                                    span.percent 22
                        .textP
                            h3 HTML5
                            p
                                | Nulla consectetur ornare nibh, a auctor
                                br
                                | mauris scelerisque eu proin nec urna quis.
                    .col-md-3.bar
                        .progB.chart(data-percent='84', data-animate='3500')
                            .chart.chart-content
                                .percentage(data-percent='22')
                                    span.percent 84
                        .textP
                            h3 CSS3
                            p
                                | Nulla consectetur ornare nibh, a auctor
                                br
                                | mauris scelerisque eu proin nec urna quis.
                    .col-md-3.bar
                        .progB.chart(data-percent='45', data-animate='3500')
                            .chart.chart-content
                                .percentage(data-percent='45')
                                    span.percent 45
                        .textP
                            h3 Woocommerce
                            p
                                | Nulla consectetur ornare nibh, a auctor
                                br
                                | mauris scelerisque eu proin nec urna quis.
            //.container
                .row.aboutUs
                    .col-md-12
                        h3 What Our Customers Say About Us?
            //div(style='position: relative;')
                .container
                    .row.about
                        .col-md-6
                            .about1
                                img.pic1Ab(src='images/picAbout/aboutP1.png')
                                h3 Anna Smith, Company Inc.
                                p
                                    | Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra, felis et venenatis. aliquam, nulla nisi lobortis elit ac.
                        .col-md-6
                            .about2
                                img.pic2Ab(src='images/picAbout/aboutP2.png')
                                h3 John Doe, Company Inc.
                                p
                                    | Consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo, adipiscing auctor, ut auctor feugiat fermentum nec quisque eget pharetra, felis et venenatis aliquam, nulla nisi lobortis elit, ac luctus.
                .horL
                .container
                    .row.about
                        .col-md-6
                            .about1
                                img.pic1Ab(src='images/picAbout/aboutP3.png')
                                h3 Tom Sawyer, Company Inc.
                                p
                                    | A auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra, felis et venenatis aliquam, nulla nisi lobortis elit, acnterdum ante feugiat vitae.
                        .col-md-6
                            .about2
                                img.pic2Ab(src='images/picAbout/aboutP4.png')
                                h3 Sarah White, Company Inc.
                                p
                                    | Ornare nibh a auctor, mauris scelerisque eu proin nec urna nec a quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra felis et venenatis aliquam, nulla nisi lobortis elit, ac eleifend nisl ante nec lorem.
        // project start
        #results
            //.line3
                .container
                    #project1
                    .row.Ama
                        .col-md-12
                            span#projectss(name='projects')
                            h3 Our Amazing Works
                            p Right here we've got something you gonna love
            //.container
                .row
                    // filter_block
                    #options.col-md-12(style='text-align: center;')
                        ul#filter.option-set(data-option-key='filter')
                            li
                                a.selected(href='#filter', data-option-value='*') All Works
                            li
                                a(href='#filter', data-option-value='.polygraphy') Polygraphy
                            li
                                a(href='#filter', data-option-value='.branding') Branding
                            li
                                a(href='#filter', data-option-value='.web') Web UI
                            li
                                a(href='#filter', data-option-value='.text_styles') Text Styles
                    // //filter_block
                    .portfolio_block.columns3.pretty(data-animated='fadeIn')
                        .element.col-sm-4.gall.branding
                            a.plS(href='images/prettyPhotoImages/pic1.jpg', rel='prettyPhoto[gallery2]')
                                img.img-responsive.picsGall(src='images/prettyPhotoImages/thumb_pic1.jpg', alt='pic1 Gallery')
                            .view.project_descr
                                h3
                                    a(href='#') Recycled Paper - Business Card Mock Up
                                ul
                                    li
                                        i.fa.fa-eye
                                        | 215
                                    li
                                        a.heart(href='#')
                                            i.fa-heart-o
                                            | 14
                        .element.col-sm-4.gall.branding
                            a.plS(href='images/prettyPhotoImages/pic2.jpg', rel='prettyPhoto[gallery2]')
                                img.img-responsive.picsGall(src='images/prettyPhotoImages/thumb_pic2.jpg', alt='pic2 Gallery')
                            .view.project_descr.center
                                h3
                                    a(href='#') Environment Logos Set
                                ul
                                    li
                                        i.fa.fa-eye
                                        | 369
                                    li
                                        a.heart(href='#')
                                            i.fa-heart-o
                                            | 86
                        .element.col-sm-4.gall.web
                            a.plS(href='images/prettyPhotoImages/pic3.jpg', rel='prettyPhoto[gallery2]')
                                img.img-responsive.picsGall(src='images/prettyPhotoImages/thumb_pic3.jpg', alt='pic3 Gallery')
                            .view.project_descr
                                h3
                                    a(href='#') Beag Simple WEB UI
                                ul
                                    li
                                        i.fa.fa-eye
                                        | 400
                                    li
                                        a.heart(href='#')
                                            i.fa-heart-o
                                            | 124
                        .element.col-sm-4.gall.text_styles
                            a.plS(href='images/prettyPhotoImages/pic4.jpg', rel='prettyPhoto[gallery2]')
                                img.img-responsive.picsGall(src='images/prettyPhotoImages/thumb_pic4.jpg', alt='pic1 Gallery')
                            .view.project_descr
                                h3
                                    a(href='#') Pop Candy Text Effect
                                ul
                                    li
                                        i.fa.fa-eye
                                        | 480
                                    li
                                        a.heart(href='#')
                                            i.fa-heart-o
                                            | 95
                        .element.col-sm-4.gall.web
                            a.plS(href='images/prettyPhotoImages/pic5.jpg', rel='prettyPhoto[gallery2]')
                                img.img-responsive.picsGall(src='images/prettyPhotoImages/thumb_pic5.jpg', alt='pic1 Gallery')
                            .view.project_descr.center
                                h3
                                    a(href='#') User Interface Elements
                                ul
                                    li
                                        i.fa.fa-eye
                                        | 215
                                    li
                                        a.heart(href='#')
                                            i.fa-heart-o
                                            | 14
                        .element.col-sm-4.gall.polygraphy
                            a.plS(href='images/prettyPhotoImages/pic6.jpg', rel='prettyPhoto[gallery2]')
                                img.img-responsive.picsGall(src='images/prettyPhotoImages/thumb_pic6.jpg', alt='pic1 Gallery')
                            .view.project_descr
                                h3
                                    a(href='#') Stationery Branding Mock Up
                                ul
                                    li
                                        i.fa.fa-eye
                                        | 375
                                    li
                                        a.heart(href='#')
                                            i.fa-heart-o
                                            | 102
                        .element.col-sm-4.gall.branding
                            a.plS(href='images/prettyPhotoImages/pic7.jpg', rel='prettyPhoto[gallery2]')
                                img.img-responsive.picsGall(src='images/prettyPhotoImages/thumb_pic7.jpg', alt='pic1 Gallery')
                            .view.project_descr
                                h3
                                    a(href='#') Darko - Business Card Mock Up
                                ul
                                    li
                                        i.fa.fa-eye
                                        | 440
                                    li
                                        a.heart(href='#')
                                            i.fa-heart-o
                                            | 35
                        .element.col-sm-4.gall.text_styles
                            a.plS(href='images/prettyPhotoImages/pic8.jpg', rel='prettyPhoto[gallery2]')
                                img.img-responsive.picsGall(src='images/prettyPhotoImages/thumb_pic8.jpg', alt='pic1 Gallery')
                            .view.project_descr
                                h3
                                    a(href='#') Foil Mini Badges
                                ul
                                    li
                                        i.fa.fa-eye
                                        | 512
                                    li
                                        a.heart(href='#')
                                            i.fa-heart-o
                                            | 36
                        .element.col-sm-4.gall.polygraphy
                            a.plS(href='images/prettyPhotoImages/pic9.jpg', rel='prettyPhoto[gallery2]')
                                img.img-responsive.picsGall(src='images/prettyPhotoImages/thumb_pic9.jpg', alt='pic1 Gallery')
                            .view.project_descr
                                h3
                                    a(href='#') Woody Poster Text Effect
                                ul
                                    li
                                        i.fa.fa-eye
                                        | 693
                                    li
                                        a.heart(href='#')
                                            i.fa-heart-o
                                            | 204
                    .col-md-12.cBtn.lb(style='text-align: center;')
                        ul.load_more_cont
                            li.dowbload.btn_load_more
                                a(href='javascript:void(0);')
                                    i.fa.fa-arrow-down
                                    | Load More Projects
                            li.buy
                                a(href='#')
                                    i.fa.fa-shopping-cart
                                    | Buy on Themeforest
                script(type='text/javascript').
                    jQuery(window).load(function(){
                        items_set = [
                            {category : 'branding', lika_count : '77', view_count : '234', src : 'images/prettyPhotoImages/pic9.jpg', title : 'Foil Mini Badges', content : '' },
                            {category : 'polygraphy', lika_count : '45', view_count : '100', src : 'images/prettyPhotoImages/pic7.jpg', title : 'Darko – Business Card Mock Up', content : '' },
                            {category : 'text_styles', lika_count : '22', view_count : '140', src : 'images/prettyPhotoImages/pic8.jpg', title : 'Woody Poster Text Effect', content : '' }
                        ];
                        jQuery('.portfolio_block').portfolio_addon({
                            type : 1, // 2-4 columns simple portfolio
                            load_count : 3,
                            items : items_set
                        });
                        $('#container').isotope({
                            animationOptions: {
                                duration: 900,
                                queue: false
                            }
                        });
                    });
        // news start
        #news
            //.line4
                .container
                    .row.Ama
                        .col-md-12
                            h3 What’s New?
                            p Get the latest news from our blog
            //.container
                .row.news
                    .col-md-6.text-left
                        img.img-responsive.picsGall(src='images/picNews/news1.jpg')
                        h3
                            a(href='#') Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!
                        ul
                            li
                                i.fa.fa-calendar
                                | April 25, 2014
                            li
                                a(href='#')
                                    i.fa.fa-folder-open
                                    | Staff
                            li
                                a(href='#')
                                    i.fa.fa-comments
                                    | 17 comments
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.
                            a.readMore(href='#')
                                | Read More
                                i.fa.fa-angle-right
                        hr.hrNews
                    .col-md-6.text-right
                        img.img-responsive.picsGall(src='images/picNews/news2.jpg')
                        h3
                            a(href='#') Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem
                        ul
                            li
                                i.fa.fa-calendar
                                | April 25, 2014
                            li
                                a(href='#')
                                    i.fa.fa-folder-open
                                    | Staff
                            li
                                a(href='#')
                                    i.fa.fa-comments
                                    | 17 comments
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.
                            a.readMore(href='#')
                                | Read More
                                i.fa.fa-angle-right
                        hr.hrNews
            //.container
                .row.news2.news
                    .col-md-6.text-left
                        img.img-responsive.picsGall(src='images/picNews/news3.jpg')
                        h3
                            a(href='#') Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!
                        ul
                            li
                                i.fa.fa-calendar
                                | April 25, 2014
                            li
                                a(href='#')
                                    i.fa.fa-folder-open
                                    | Staff
                            li
                                a(href='#')
                                    i.fa.fa-comments
                                    | 17 comments
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.
                            a.readMore(href='#')
                                | Read More
                                i.fa.fa-angle-right
                        hr.hrNews
                    .col-md-6.text-right
                        img.img-responsive.picsGall(src='images/picNews/news4.jpg')
                        h3
                            a(href='#') Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem
                        ul
                            li
                                i.fa.fa-calendar
                                | April 25, 2014
                            li
                                a(href='#')
                                    i.fa.fa-folder-open
                                    | Staff
                            li
                                a(href='#')
                                    i.fa.fa-comments
                                    | 17 comments
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.
                            a.readMore(href='#')
                                | Read More
                                i.fa.fa-angle-right
                        hr.hrNews
            //.container
                .row.news2.news
                    .col-md-6.text-left
                        img.img-responsive.picsGall(src='images/picNews/news5.jpg')
                        h3
                            a(href='#') Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!
                        ul
                            li
                                i.fa.fa-calendar
                                | April 25, 2014
                            li
                                a(href='#')
                                    i.fa.fa-folder-open
                                    | Staff
                            li
                                a(href='#')
                                    i.fa.fa-comments
                                    | 17 comments
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.
                            a.readMore(href='#')
                                | Read More
                                i.fa.fa-angle-right
                        hr.hrNews
                    .col-md-6.text-right
                        img.img-responsive.picsGall(src='images/picNews/news6.jpg')
                        h3
                            a(href='#') Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem
                        ul
                            li
                                i.fa.fa-calendar
                                | April 25, 2014
                            li
                                a(href='#')
                                    i.fa.fa-folder-open
                                    | Staff
                            li
                                a(href='#')
                                    i.fa.fa-comments
                                    | 17 comments
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.
                            a.readMore(href='#')
                                | Read More
                                i.fa.fa-angle-right
                        hr.hrNews
            //.container.hideObj2(style='display:none;')
                .row.news2.news
                    .col-md-6.text-right
                        img.img-responsive.picsGall(src='images/picNews/news6.jpg')
                        h3
                            a(href='#') Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem
                        ul
                            li
                                i.fa.fa-calendar
                                | April 25, 2014
                            li
                                a(href='#')
                                    i.fa.fa-folder-open
                                    | Staff
                            li
                                a(href='#')
                                    i.fa.fa-comments
                                    | 17 comments
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.
                            a.readMore(href='#')
                                | Read More
                                i.fa.fa-angle-right
                        hr.hrNews
                    .col-md-6.text-left
                        img.img-responsive.picsGall(src='images/picNews/news5.jpg')
                        h3
                            a(href='#') Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!
                        ul
                            li
                                i.fa.fa-calendar
                                | April 25, 2014
                            li
                                a(href='#')
                                    i.fa.fa-folder-open
                                    | Staff
                            li
                                a(href='#')
                                    i.fa.fa-comments
                                    | 17 comments
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.
                            a.readMore(href='#')
                                | Read More
                                i.fa.fa-angle-right
                        hr.hrNews
            //.container
                .row.cBtn
                    .col-md-12(style='text-align: center; margin-bottom: -90px; z-index: 10;')
                        ul.mNews
                            li.dowbload.bhide2
                                a(href='#')
                                    i.fa.fa-arrow-down
                                    | Load More news
        // contact start
        #reflection
            //.line5
                .container
                    .row.Ama
                        .col-md-12
                            h3 Got a Question? We’re Here to Help!
                            p Get in touch with us
            //.container
                .row
                    .col-md-9.col-xs-12.forma
                        form
                            input.col-md-6.col-xs-12.name(type='text', name='name', placeholder='Name *')
                            input.col-md-6.col-xs-12.Email(type='text', name='Email', placeholder='Email *')
                            input.col-md-12.col-xs-12.Subject(type='text', name='Subject', placeholder='Subject')
                            textarea.col-md-12.col-xs-12.Message(type='text', name='Message', placeholder='Message *')
                            .cBtn.col-xs-12
                                ul
                                    li.clear
                                        a(href='#')
                                            i.fa.fa-times
                                            | clear form
                                    li.send
                                        a(href='#')
                                            i.fa.fa-share
                                            | Send Message
                    .col-md-3.col-xs-12.cont
                        ul
                            li
                                i.fa.fa-home
                                | 5512 Lorem Ipsum Vestibulum 666/13
                            li
                                i.fa.fa-phone
                                | +1 800 789 50 12, +1 800 450 6935
                            li
                                a(href='#')
                                    i.fa.fa-envelope
                                    | mail@compname.com
                            li
                                i.fa.fa-skype
                                | compname
                            li
                                a(href='#')
                                    i.fa.fa-twitter
                                    | Twitter
                            li
                                a(href='#')
                                    i.fa.fa-facebook-square
                                    | Facebook
                            li
                                a(href='#')
                                    i.fa.fa-dribbble
                                    | Dribbble
                            li
                                a(href='#')
                                    i.fa.fa-flickr
                                    | Flickr
                            li
                                a(href='#')
                                    i.fa.fa-youtube-play
                                    | YouTube
            //.line6
                iframe(src='https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d48386.401887313725!2d-73.9407136!3d40.7147117!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1402409149092', width='100%', height='750', frameborder='0', style='border:0')
            //.container
                .row.ftext
                    .col-md-12
                        a#features
                        h3 We Care About Our Clients and Can Make Their Life Easier!
                        p
                            | The main peculiarity of template is the striking presentation when visitors just need to use the scrolling option to find all necessary information about your web project.
                    .cBtn
                        ul(style='margin-top: 23px; margin-bottom: 0px; padding-left: 26px;')
                            li.dowbload
                                a(href='#')
                                    i.fa.fa-star
                                    | View All Features
                            li.buy
                                a(href='#')
                                    i.fa.fa-download
                                    | Buy This Template
            //.line7
                .container
                    .row.footer
                        .col-md-12
                            h3 Subscribe for Our Newsletter!
                            p
                                | Subscribe to our newsletter email to get notification about fresh news, latest promos, giveaways and free stuff from Skew. Stay always up-to-date!
                            .fr
                                div(style='display: inline-block;')
                                    input.col-md-6.fEmail(name='Email', placeholder='Enter Your Email')
                                    a.subS(href='#') Subscribe!
                        .soc.col-md-12
                            ul
                                li.soc1
                                    a(href='#')
                                li.soc2
                                    a(href='#')
                                li.soc3
                                    a(href='#')
                                li.soc4
                                    a(href='#')
                                li.soc5
                                    a(href='#')
                                li.soc6
                                    a(href='#')
                                li.soc7
                                    a(href='#')
                                li.soc8
                                    a(href='#')
            .lineBlack
                .container
                    .row.downLine
                        .col-md-12.text-right
                            // input  id="searchPattern" type="search" name="pattern" value="Search the Site" onblur="if(this.value=='') {this.value='Search the Site'; }" onfocus="if(this.value =='Search the Site' ) this.value='';this.style.fontStyle='normal';" style="font-style: normal;"/
                            input#searchPattern(type='search', placeholder='Search the Site')
                            i#iS.glyphicon.glyphicon-search(style='font-size: 13px; color:#a5a5a5;')
                        .col-md-6.text-left.copy
                            p Copyright © 2018 Tom Plumpton. All Rights Reserved.
                        .col-md-6.text-right.dm
                            ul#downMenu
                                li.active
                                    a.page-scroll(href='#overview')
                                        i.fa.fa-fw.fa-pencil
                                        |  Overview
                                li
                                    a.page-scroll(href='#analysis')
                                        i.fa.fa-fw.fa-search
                                        |  Analysis
                                li
                                    a.page-scroll(href="#data-vis")
                                        i.fa.fa-fw.fa-bar-chart
                                        |  Visualisation
                                li
                                    a.page-scroll(href='#results')
                                        i.fa.fa-fw.fa-clipboard
                                        |  Results
                                li.last
                                    a.page-scroll(href='#news')
                                        i.fa.fa-fw.fa-eye
                                        |  Reflection
                                // li><a href="#features">Features</a></li
        script(src='js/jquery.prettyPhoto.js', type='text/javascript', charset='utf-8')
        script(src='js/bootstrap.min.js')
        script(src='js/characterStats.js')
        script(src='js/jquery.slicknav.js')
        script.
            $(document).ready(function(){
                $(".bhide").click(function(){
                    $(".hideObj").slideDown();
                    $(this).hide(); //.attr()
                    return false;
                });
                $(".bhide2").click(function(){
                    $(".container.hideObj2").slideDown();
                    $(this).hide(); // .attr()
                    return false;
                });
                $('.heart').mouseover(function(){
                    $(this).find('i').removeClass('fa-heart-o').addClass('fa-heart');
                }).mouseout(function(){
                    $(this).find('i').removeClass('fa-heart').addClass('fa-heart-o');
                });
                function sdf_FTS(_number,_decimal,_separator)
                {
                    var decimal=(typeof(_decimal)!='undefined')?_decimal:2;
                    var separator=(typeof(_separator)!='undefined')?_separator:'';
                    var r=parseFloat(_number)
                    var exp10=Math.pow(10,decimal);
                    r=Math.round(r*exp10)/exp10;
                    rr=Number(r).toFixed(decimal).toString().split('.');
                    b=rr[0].replace(/(\\d{1,3}(?=(\d{3})+(?:\.\d|\b)))/g,"\$1"+separator);
                    r=(rr[1]?b+'.'+rr[1]:b);
                    return r;
                }
                setTimeout(function(){
                    let charCount = !{charCount};
                    let tweetCount = !{tweetCount};
                    let emojiCount = !{emojiCount};
                    $('#counter').text('0');
                    $('#counter1').text('0');
                    $('#counter2').text('0');
                    setInterval(function(){
                        var curval=parseInt($('#counter').text());
                        var curval1=parseInt($('#counter1').text().replace(' ',''));
                        var curval2=parseInt($('#counter2').text());
                        if(curval<= tweetCount){
                            $('#counter').text(curval+15);
                        }
                        if(curval1<= charCount){
                            $('#counter1').text(sdf_FTS((curval1+1000),0,' '));
                        }
                        if(curval2<=emojiCount){
                            $('#counter2').text(curval2+15);
                        }
                    }, 1);
                }, 500);
            });
        script(type='text/javascript').
            jQuery(document).ready(function(){
                jQuery('#menu').slicknav();
            });
        script(type='text/javascript').
            $(document).ready(function(){
                var $menu = $("#menuF");
                $(window).scroll(function(){
                    if ( $(this).scrollTop() > 100 && $menu.hasClass("default") ){
                        $menu.fadeOut('fast',function(){
                            $(this).removeClass("default")
                                .addClass("fixed transbg")
                                .fadeIn('fast');
                        });
                    } else if($(this).scrollTop() <= 100 && $menu.hasClass("fixed")) {
                        $menu.fadeOut('fast',function(){
                            $(this).removeClass("fixed transbg")
                                .addClass("default")
                                .fadeIn('fast');
                        });
                    }
                });
            });
            //jQuery
        script.
            /*menu*/
            function calculateScroll() {
                var contentTop      =   [];
                var contentBottom   =   [];
                var winTop      =   $(window).scrollTop();
                var rangeTop    =   200;
                var rangeBottom =   500;
                $('.navmenu').find('a').each(function(){
                    contentTop.push( $( $(this).attr('href') ).offset().top );
                    contentBottom.push( $( $(this).attr('href') ).offset().top + $( $(this).attr('href') ).height() );
                })
                $.each( contentTop, function(i){
                    if ( winTop > contentTop[i] - rangeTop && winTop < contentBottom[i] - rangeBottom ){
                        $('.navmenu li')
                            .removeClass('active')
                            .eq(i).addClass('active');
                    }
                })
            };
            $(document).ready(function(){
                calculateScroll();
                $(window).scroll(function(event) {
                    calculateScroll();
                });
                $('.navmenu ul li a').click(function() {
                    $('html, body').animate({scrollTop: $(this.hash).offset().top - 80}, 800);
                    return false;
                });
            });
        script(type='text/javascript', charset='utf-8').
            jQuery(document).ready(function(){
                jQuery(".pretty a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: true, social_tools: ''});
            });
