doctype html
html(lang='en')
    head
        //Meta Data
        title Major Project
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        //Stylesheets (CSS & Google Fonts)
        link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='css/font-awesome.css')
        link(rel='stylesheet', type='text/css', href='css/animate.css')
        link#camera-css(rel='stylesheet', href='css/camera.css', type='text/css', media='all')
        link(rel='stylesheet', type='text/css', href='css/slicknav.css')
        //link(rel='stylesheet', href='css/prettyPhoto.css', type='text/css', media='screen', title='prettyPhoto main stylesheet', charset='utf-8')
        link(rel='stylesheet', type='text/css', href='css/style.css')
        link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Roboto:400,300,700|Open+Sans:700')
        link(rel='stylesheet', type='text/css', href='css/d3.css')
        //link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css')
        link(rel='stylesheet', type='text/css', href='css/rangeslider.css')

        //Scripts
        script(type='text/javascript', src='js/jquery-1.8.3.min.js')
        script(type='text/javascript', src='js/jquery.mobile.customized.min.js')
        script(type='text/javascript', src='js/jquery.easing.1.3.js')
        script(type='text/javascript', src='js/camera.min.js')
        script(type='text/javascript', src='js/myscript.js')
        script(type='text/javascript', src='js/rangeslider.min.js')
        //script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js')
        //script(src='js/sorting.js', type='text/javascript')
        //script(src='js/jquery.isotope.js', type='text/javascript')
        script.
            jQuery(function(){
                jQuery('#camera_wrap_1').camera({
                    transPeriod: 500,
                    time: 3000,
                    height: '490px',
                    thumbnails: false,
                    pagination: true,
                    playPause: false,
                    loader: false,
                    navigation: false,
                    hover: false
                });
            });
    body
        #simpleLinearRegressionTooltip.floating-tooltip
        //Overview
        section#overview
            .headerLine
                #menuF.default
                    .container
                        .row
                            .logo.col-md-2
                                div
                                    a(href='#')
                                        img(src='images/twitter_logo_sml.png')
                            .col-md-10
                                .navmenu#navmenu(style='text-align: center;')
                                    ul#menu
                                        li.active
                                            a.page-scroll(href='#overview')
                                                i.fa.fa-fw.fa-pencil
                                                |  Overview
                                        li
                                            a.page-scroll(href='#analysis')
                                                i.fa.fa-fw.fa-search
                                                |  Analysis
                                        li
                                            a.page-scroll(href="#data-vis")
                                                i.fa.fa-fw.fa-bar-chart
                                                |  Visualisation
                                        li
                                            a.page-scroll(href='#results')
                                                i.fa.fa-fw.fa-clipboard
                                                |  Results
                                        li.last
                                            a.page-scroll(href='#reflection')
                                                i.fa.fa-fw.fa-eye
                                                |  Reflection
                        .row
                            .col-sm-4.col-sm-offset-8.back-to-main
                                ul
                                    li
                                        a(href="https://tomplumpton.me")
                                            i.fa.fa-fw.fa-arrow-left
                                            |  Back to tomplumpton.me
                .container
                    .row.wrap
                        .col-md-12.gallery
                            #camera_wrap_1.camera_wrap.camera_white_skin
                                div(data-thumb='', data-src='images/slides/blank.gif')
                                    .img-responsive.camera_caption.fadeFromBottom
                                        h2 Major Project
                                        h3 Final Year Major Project. By Thomas Plumpton.
                                div(data-thumb='', data-src='images/slides/blank.gif')
                                    .img-responsive.camera_caption.fadeFromBottom
                                        h2 Pseudo or Truly-Random?
                                        h3 Determining the random nature of Tweets.
                                div(data-thumb='', data-src='images/slides/blank.gif')
                                    .img-responsive.camera_caption.fadeFromBottom
                                        h2 Twitter &amp; Robocode
                                        h3 Integrating IBM's Robocode with the Twitter API.
                                div(data-thumb='', data-src='images/slides/blank.gif')
                                    .img-responsive.camera_caption.fadeFromBottom
                                        h2 D3.JS (Data Driven Documents)
                                        h3 Data visualisation powered by D3.JS.
                                div(data-thumb='', data-src='images/slides/blank.gif')
                                    .img-responsive.camera_caption.fadeFromBottom
                                        h2 Statistical Analysis
                                        h3 Linear Regression &amp; Standard Deviation
                                div(data-thumb='', data-src='images/slides/blank.gif')
                                    .img-responsive.camera_caption.fadeFromBottom
                                        h2 Mathematical Analysis
                                        h3 Sample Size &amp; Inter-Quartile Range.
            .container
                .row
                    .col-xs-12.text-center
                        h4.sub-title Project Title
                        h2.main-title Analysing the Randomness of Social Media
                    .col-xs-12
                        h4.sub-title
                            i.fa.fa-pencil
                            |  Description
                        p Randomness is used in a myriad of industries including; video games; politics; science; cryptography and more. It is important to continuously alter the method in which randomness is generated to make it harder to predict. This project studies the randomness of the social media platform ‘Twitter’, by producing a random number generator from the Tweets of several different users. Tweets are used to produce values that control the AI (Artificial Intelligence) of Robots in the programming game ‘Robocode’ in order to determine the random nature of these values.
                        p The project aims to understand the difference between pseudo and truly random number generation and gain a greater appreciation of the applications of randomness in real world industries. This report describes the concept of a new method of generating random numbers using the aforementioned sources and stimuli.
                    .col-md-6
                        a.btn.btn-info.btn-lg#downloadDissertation(href="/dissertation" target="_blank" role="button")
                            i.fa.fa-fw.fa-paper-plane
                            |  Download Dissertation

                .row
                    .col-md-4.project
                        h3#counter 0
                        h4
                            i.fa.fa-fw.fa-twitter
                            |  Tweets Analysed
                        p
                            | Thousands of Tweets stored in the MongoDB Atlas Cluster are parsed using a bespoke Java program and Twitter4J.
                    .col-md-4.project
                        h3#counter1 0
                        h4
                            i.fa.fa-fw.fa-sort-alpha-asc
                            |  Characters Counted
                        p
                            | Thousands of Tweets means millions of characters. Each character represents a single instruction for a TwitterRobot.
                    .col-md-4.project
                        h3#counter2 0
                        h4
                            i.fa.fa-fw.fa-smile-o
                            |  Emoji's Counted
                        p
                            | Thousands of annoying little emoji's, varied by Fitzpatrick Modifiers. Yep, there really were that many...

        //Data Analysis
        section#analysis
            .line2
                .container-fluid
                    .row.Fresh
                        h1.section-title
                            i.fa.fa-fw.fa-search
                            |  Analysis
                        .col-md-4.analysis-header
                            i.fa.fa-eye
                            h4 Visual Analysis
                            p
                                | One method of determining the random nature of the data is a simple visual analysis. See the data visualisation below.
                        .col-md-4.analysis-header
                            i.fa.fa-flask
                            h4 Mathematical Analysis
                            p
                                | Statistical attributes such as standard deviation and variance will be measured to gain a more empirical conclusion.
                        .col-md-4.analysis-header
                            i.fa.fa-line-chart
                            h4 Statistical Analysis
                            p
                                | A statistical method useful to the analysis of the data is linear regression, specifically the method of least squares.
            section.section-padding
                .container
                    .row
                        .col-md-12.cBusiness
                            h3 Statistical Overview
                #characterDataVisMenu.container
                    ul.nav.nav-tabs.nav-justified
                        li.active
                            a(href='#1', data-toggle='tab')
                                i.fa.fa-fw.fa-lg.fa-bar-chart
                                |  Bar Chart
                        li
                            a(href='#2', data-toggle='tab')
                                i.fa.fa-fw.fa-lg.fa-pie-chart
                                |  Pie Charts
                        li
                            a(href='#3', data-toggle='tab')
                                i.fa.fa-fw.fa-lg.fa-line-chart
                                |  Line Chart
                    .tab-content
                        #1.tab-pane.active
                            .container.loading
                                i.fa.fa-fw.fa-lg.fa-4x.fa-pulse.fa-spinner
                                p Analysing Data...
                            .container.characterStatsBar
                                .row
                                    #cfbcFloatingDiv
                                    #characterFrequencyBarChart
                                .row.text-center.bar-chart-sort
                                    .col-sm-2.col-sm-offset-3
                                        label.sort Alphabetical
                                        input#sort-alpha(type="radio" name="sort-bar-chart" value="Alpha" checked)
                                    .col-sm-2
                                        label.sort Ascending
                                        input#sort-asc(type="radio" name="sort-bar-chart" value="Asc")
                                    .col-sm-2
                                        label.sort Descending
                                        input#sort-desc(type="radio" name="sort-bar-chart" value="Desc")
                        #2.tab-pane
                            .container-fluid.characterStatsPie
                                .row
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.a(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 A
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.b(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 B
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.c(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 C
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.d(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 D
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.e(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 E
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.f(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 F
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.g(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 G
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.h(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 H
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.i(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 I
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.j(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 J
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.k(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 K
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.l(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 L
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.m(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 M
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.n(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 N
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.o(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 O
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.p(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 P
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.q(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 Q
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.r(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 R
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.s(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 S
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.t(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 T
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.u(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 U
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.v(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 V
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.w(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 W
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.x(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 X
                                    .col-xs-4.col-md-1.col-md-offset-5.bar
                                        .progB.chart.y(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 Y
                                    .col-xs-4.col-md-1.bar
                                        .progB.chart.z(data-animate='3500')
                                            .chart.chart-content
                                                .percentage()
                                                    span.percent
                                        .textP
                                            h3 Z
                        #3.tab-pane
                            h3 Line Chart To Go Here
            section.section-padding
                .container
                    .row
                        .col-md-6
                            .selectedTwitterUser
                                .row
                                    .col-md-2
                                        #profile-image
                                    .col-md-6
                                        #username
                                        #screenName
                                        #stats
                        .col-md-3
                            label Select Twitter User
                            select#twitterUsers.form-control(name="twitterUsers")
                    .row
                        .col-md-12
                            hr
                            .container.character-loading
                        .selectedTwitterUserAnalysis
                            .row
                                .col-md-6
                                    .row
                                        .col-sm-12.text-center
                                            label Percentages of Tweet's that Included...
                                    .row
                                        .col-sm-3
                                            .progB.chart.tweet-percentage(data-animate='3500')
                                                .chart.chart-content
                                                    .percentage()
                                                        span.percent
                                            p
                                                i.fa.fa-fw.fa-lg.fa-link
                                                |  Hyperlinks
                                        .col-sm-3
                                            .progB.chart.twitter-used-percentage(data-animate='3500')
                                                .chart.chart-content
                                                    .percentage()
                                                        span.percent
                                            p
                                                i.fa.fa-fw.fa-lg.fa-twitter
                                                |  Twitter Mentioned
                                        .col-sm-3
                                            .progB.chart.hashtags-percentage(data-animate='3500')
                                                .chart.chart-content
                                                    .percentage()
                                                        span.percent
                                            p
                                                i.fa.fa-fw.fa-lg.fa-hashtag
                                                |  Hashtags
                                        .col-sm-3
                                            .progB.chart.mentions-percentage(data-animate='3500')
                                                .chart.chart-content
                                                    .percentage()
                                                        span.percent
                                            p
                                                i.fa.fa-fw.fa-lg.fa-at
                                                |  Mentions
                                .col-md-6
                                    .row
                                        .col-sm-12.tweet-length-analysis
                                            label Twitter's Maximum Tweet Length (Characters)
                                            .progress.progress-striped.active.maximum-tweet-length
                                                .progress-bar.progress-bar-info(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")
                                                    p 280
                                            label Longest Tweet
                                            .progress.progress-striped.active.longest-tweet
                                                .progress-bar.progress-bar-success(role="progressbar" aria-valuemin="0" aria-valuemax="100")
                                                    p
                                            label Average Tweet
                                            .progress.progress-striped.active.average-tweet
                                                .progress-bar.progress-bar-warning(role="progressbar" aria-valuemin="0" aria-valuemax="100")
                                                    p
                                            label Shortest Tweet
                                            .progress.progress-striped.active.shortest-tweet
                                                .progress-bar.progress-bar-danger(role="progressbar" aria-valuemin="0" aria-valuemax="100")
                                                    p
                            .row
                                .col-sm-12
                                    label Language's Used
                                    .language-breakdown
                                        .progress

        section#data-vis
            .line3
                .container
                    .row.Fresh
                        h1.section-title
                            i.fa.fa-fw.fa-bar-chart
                            |  Data Visualisation
                        .col-md-4.analysis-header
                            i.fa.fa-bar-chart-o
                            h4 D3.JS
                            p
                                | A JavaScript library that manipulates SVG elements in the Document Object Model. A powerful library, bringing dynamic data to life.
                        .col-md-4.analysis-header
                            i.fa.fa-pie-chart
                            h4 Easy Pie Chart
                            p
                                | Lightweight plugin to render simple, animated and retina optimized pie charts. Great for displaying relative percentages of data.
                        .col-md-4.analysis-header
                            i.fa.fa-search
                            h4 Analysing Data
                            p
                                | This section extends the previous one, providing the means for visual analysis and ultimately concluding results for the next section.
            .container.section-padding
                .row
                    #resultAnalysisMenu.container
                        ul.nav.nav-tabs.nav-justified
                            li.active
                                a(href='#results-overview', data-toggle='tab')
                                    i.fa.fa-fw.fa-lg.fa-tachometer
                                    |  Overview
                            li
                                a(href='#statisticsBreakdown', data-toggle='tab')
                                    i.fa.fa-fw.fa-lg.fa-pie-chart
                                    |  Statistics Breakdown
                            li
                                a(href='#simple-linear-regression', data-toggle='tab')
                                    i.fa.fa-fw.fa-lg.fa-line-chart
                                    |  Simple Linear Regression
                            li
                                a(href="#standard-deviation", data-toggle='tab')
                                    i.fa.fa-fw.fa-lg.fa-flask
                                    |  Standard Deviation
                        .tab-content
                            .results-loading
                            #results-overview.tab-pane.active
                                .container-fluid
                                    .row
                                        .col-sm-12
                                            h3.text-center Battle Statistics
                                            hr
                                        .col-sm-3.noOfBattles.text-center
                                            .value
                                            label No. of Battles
                                        .col-sm-3.noOfRounds.text-center
                                            .value
                                            label No. of Rounds
                                        .col-sm-3.noOfRobots.text-center
                                            .value
                                            label No. of Robots
                                        .col-sm-3.noOfTurns.text-center
                                            .value
                                            label No. of Turns
                                        .col-sm-3.battleTime.text-center
                                            .value
                                            label Battle Time
                                        .col-sm-3.totalScore.text-center
                                            .value
                                            label Cumulative Score
                                        .col-sm-3.totalBulletDamage.text-center
                                            .value
                                            label Cumulative Bullet Damage
                                        .col-sm-3.totalRamDamage.text-center
                                            .value
                                            label Cumulative Ram Damage
                                    .row.text-center
                                        .col-sm-12
                                            h3 Battle Rules
                                            hr
                                        .col-sm-2
                                            .value
                                                p#noOfRounds
                                                    i.fa.fa-fw.fa-info-circle
                                            label No of Rounds
                                        .col-sm-2
                                            .value
                                                p 1000
                                                    sup 2
                                            label Battlefield Size
                                        .col-sm-2
                                            .value
                                                p 100
                                            label Sentry Border Size
                                        .col-sm-2
                                            .value
                                                p 0.1
                                            label Gun Cooling Rate
                                        .col-sm-2
                                            .value
                                                p 2000
                                            label Inactivity Time
                                        .col-sm-2
                                            .value
                                                p False
                                            label Hide Enemy Names?
                            #statisticsBreakdown.tab-pane
                                .container-fluid
                                    .row
                                        .col-sm-12.text-center
                                            h3 Battle Rounds
                                            hr
                                            .row
                                                .col-sm-2.col-sm-offset-1
                                                    .value
                                                        p#oneRounds
                                                    label 1 Round
                                                .col-sm-2
                                                    .value
                                                        p#threeRounds
                                                    label 3 Rounds
                                                .col-sm-2
                                                    .value
                                                        p#fiveRounds
                                                    label 5 Rounds
                                                .col-sm-2
                                                    .value
                                                        p#eightRounds
                                                    label 8 Rounds
                                                .col-sm-2
                                                    .value
                                                        p#tenRounds
                                                    label 10 Rounds
                                        br
                                        .col-sm-12.text-center
                                            h3 Battle Turns
                                            hr
                                            .row
                                                .col-sm-4
                                                    .value
                                                        p#turnsMin
                                                    label Minimum Turns
                                                .col-sm-4
                                                    .value
                                                        p#turnsAvg
                                                    label Average Turns
                                                .col-sm-4
                                                    .value
                                                        p#turnsMax
                                                    label Maximum Turns
                                        br
                                        .col-sm-12.text-center
                                            h3 Battle Time
                                            hr
                                            .row
                                                .col-sm-4
                                                    .value
                                                        p#timeMin
                                                    label Minimum Time
                                                .col-sm-4
                                                    .value
                                                        p#timeAvg
                                                    label Average Time
                                                .col-sm-4
                                                    .value
                                                        p#timeMax
                                                    label Maximum Time
                            #simple-linear-regression.tab-pane
                                .container-fluid
                                    .row
                                        .col-sm-12
                                            h3.text-center Simple Linear Regression
                                            hr
                                            .row.bar-chart-sort
                                                .col-sm-3
                                                    .row
                                                        .col-xs-12
                                                            h4
                                                                i.fa.fa-fw.fa-filter
                                                                |  Filter Border Sentry
                                                    .row
                                                        .col-xs-12
                                                            input#include-all(type="radio" name="filter-linear-reg" value="All" checked)
                                                            label.sort Include All
                                                    .row
                                                        .col-xs-12
                                                            input#include-sentry(type="radio" name="filter-linear-reg" value="Include")
                                                            label.sort Include Twitter Sentry
                                                    .row
                                                        .col-xs-12
                                                            input#exclude-sentry(type="radio" name="filter-linear-reg" value="Exclude")
                                                            label.sort Exclude Twitter Sentry
                                                .col-sm-3
                                                    h4
                                                        i.fa.fa-fw.fa-circle
                                                        |  Change Point Radius
                                                    #pointRadiusSlider
                                                        input.rangeslider.rangeslider--horizontal(type="range" min="1" max="12" value="6")
                                                        label.text-center#pointRadius
                                                .col-sm-3
                                                    h4
                                                        i.fa.fa-fw.fa-bell
                                                        |  Number of Rounds
                                                    #numberOfRoundsSelection
                                                        input(type="checkbox" name="numberOfRounds" value="1" checked)
                                                        label.sort 1

                                                        input(type="checkbox" name="numberOfRounds" value="3" checked)
                                                        label.sort 3

                                                        input(type="checkbox" name="numberOfRounds" value="5" checked)
                                                        label.sort 5

                                                        input(type="checkbox" name="numberOfRounds" value="8" checked)
                                                        label.sort 8

                                                        input(type="checkbox" name="numberOfRounds" value="10" checked)
                                                        label.sort 10

                                        .col-sm-12
                                            #simple-linear-regression-graph
                                        .col-sm-12
                                            #pointTimelineSliderDate
                                            input#pointTimelineSlider.rangeslider.rangeslider--horizontal(type="range" min="1")
                                        .col-sm-12
                                            .equation
                                            .equation
                            #standard-deviation.tab-pane
                                .container-fluid
                                    .row.text-center
                                        .col-sm-12
                                            h3.text-center Score Overview
                                            hr
                                            .row
                                                .col-sm-4
                                                    .value
                                                        p#scoreMin
                                                    label Minimum Score
                                                .col-sm-4
                                                    .value
                                                        p#scoreAvg

                                                    label Average Score
                                                .col-sm-4
                                                    .value
                                                        p#scoreMax
                                                    label Maximum Score
                                            .row
                                                .col-sm-3
                                                    .value
                                                        p#lowerQuartile
                                                    label Lower Quartile
                                                .col-sm-3
                                                    .value
                                                        p#median
                                                    label Median
                                                .col-sm-3
                                                    .value
                                                        p#upperQuartile
                                                    label Upper Quartile
                                                .col-sm-3
                                                    .value
                                                        p#interQuartileRange
                                                    label Inter-Quartile Range
                                        .col-sm-6
                                            h3.text-center Standard Deviation
                                            hr
                                            .col-sm-12
                                                .value
                                                    p#squaredDifferences
                                                label Squared Differences
                                            .col-sm-8
                                                .value
                                                    p#squaredDifferencesMean
                                                label Squared Differences Mean
                                            .col-sm-4
                                                .value
                                                    p#standardDeviation
                                                label Standard Deviation
                                        .col-sm-6
                                            h3 Variance
                                            hr
                                            .col-sm-12
                                                .value
                                                    p#variance
                                                label Variance
        section#results
            .line4
                .container
                    .row.Fresh
                        h1.section-title
                            i.fa.fa-fw.fa-clipboard
                            |  Results
                        .col-md-4.analysis-header
                            i.fa.fa-random
                            h4 Random Nature
                            p
                                | The final conclusion. Have I created a PRNG or a TRNG? Or is it somewhere in-between? Was it worth it?
                        .col-md-4.analysis-header
                            i.fa.fa-bullseye
                            h4 Robocode's Influence
                            p
                                | Evaluation will help better understand the influence Robocode had on the random nature of the results.
                        .col-md-4.analysis-header
                            i.fa.fa-book
                            h4 Language Bias?
                            p
                                | Does the #[a.page-scroll(href="#visualisation") variance of characters] in the English language skew the results and change the outcome?
            .container.section-padding
                .row
                    .col-xs-12
                        h4.sub-title
                            i.fa.fa-random
                            |  Conclusion
                        p To recap, the difference between pseudo-random and truly-random numbers is that pseudo-random number generators produce numbers that are deterministic. If we can determine them, they must have a discernible trend, pattern and correlation. On the other hand, truly-random generated numbers are the opposite. Like the decay of a radioactive isotope, they are un-predictable. However, given our increasingly better understanding of computing, technology and algorithms, we are able to write pseudo-random number generators that are very close to true ones. This means that the numbers they produce are for all intents and purposes ‘random’, albeit they are pre-determined from a table of values and are therefore technically not truly¬-random.
                        p With the aforementioned definitions in mind, it didn’t take too long to come to the conclusion that the numbers generated by the Robots in Robocode from the Tweets are not truly-random. As discussed in the evaluation, there are clear patters and correlation to the data plotted on the scatter graph. The relationship between the battle score and number of turns was as expected, as one increases, so does the other. However, it’s not all bad. Although the data was restricted to a range of 0-1019, the spread of the data inside that range was quite sparse. The statistical analysis of the standard deviation and variance does not support this as the standard deviation was quite close to the median value. However, I believe that because the majority of the battles had 3 rounds, it created a bias and skewed the data in favour of that sub-dataset. This is most likely why the interquartile range is so small. Instead, if we take an even number of data from each number of rounds, we can see that they are actually quite sparse within the overall range.

        section#reflection
            .line5
                .container
                    .row.Fresh
                        h1.section-title
                            i.fa.fa-fw.fa-eye
                            |  Reflection
                        .col-md-4.analysis-header
                            i.fa.fa-check
                            h4 The Good
                            p
                                | What went well during the project? Did everything go as planned? What was the biggest academic challenge?
                        .col-md-4.analysis-header
                            i.fa.fa-ban
                            h4 The Bad
                            p
                                | What went wrong during the project? Was there anything that caused significant issues?
                        .col-md-4.analysis-header
                            i.fa.fa-refresh
                            h4 What Would I Change?
                            p
                                | If I were to do the project again, or continue it. What changes would I make, and why?
            .container.section-padding
                .row
                    .col-xs-12
                        h4.sub-title
                            i.fa.fa-check
                            |  The Good
                        br
                        h4.sub-heading Developing the Web Application
                        p The third stage of the program development was the smoothest and easiest stage. Because of the prior experience I had with the MEAN Stack, I was able to quickly create and configure the application, set up the basic page and host it on my personal AWS (Amazon Web Services) EC2 (Elastic Compute Cloud) Linux instance. This was useful for the project as it freed up time for me to work on the more important parts of the project such as the development of the JavaScript functionality that was used to visualise the data and perform the statistical analysis.
                        h4.sub-heading Project Management & Organisation
                        p I planned a lot of the project during the early stages, as documented in Chapter 4 – Analysis & Design. This made the development stages run smoother as I knew what I had to create. There were of course lots of parts that were unexpected and had to be modified or developed on-the-fly, but the vast majority of it was as planned. Furthermore, the usage of Git VCS and GitHub made pushing the web application to the live server easier and provided peace of mind the project files were backed up and audited via Git’s version history of commits. The project was also synced via my personal Dropbox account which ensured that all the files were synched and up-to-date across all my devices during development. This again ensured there was another backup and meant that no duplicates were created, or work was lost.
                        h4.sub-heading Drawing a Conclusion
                        p This may just be a testament to the correlation and trends in the final visualisation of the results, but the conclusion was an easy decision to make. I knew right from the very start of planning the project that if the data was to produce results and visualisations that had ambiguous correlation, that the decision-making process would be very difficult. It would have required further research into determining whether or not numbers were pseudo or truly random. The fact that the numbers turned out to be pseudo-random does not make the project a failure, in fact, it was something that was expected as a possible outcome due to the nature of the project.
                        br
                    .col-xs-12
                        h4.sub-title
                            i.fa.fa-ban
                            |  The Bad
                        br
                        h4.sub-heading Academic Challenge
                        p As I progressed deeper into project development, I realised that I’d bitten off more than I could chew. The complexity of the algorithm required to parse the Tweets for Robocode that I had planned was far too great. Looking ahead at what needed be done, and the possible issues that could arise, I decided to simplify the algorithm. Instead of parsing every character in the Tweets (Letters, Numbers, Symbols, Emojis etc.), I decided to sanitise the strings and keep only the letters. These letters would produce a value between 0 and 25. I understood that this would reduce the quality of the data and therefore reflect in the results and conclusion, however, I had to make sure that I could finish the development and build the JavaScript elements for the analysis.
                        h4.sub-heading Issues with Robocode & Java
                        p During the Java development stage of the agile process, I had to write a Java program that interfaced with both the Twitter and Robocode API’s. Twitter wasn’t too much of an issue, simple trial and error saw me through the development of the Twitter related classes. Once I had the Tweets downloaded and serialised, I could then work on the Robot classes. I had an issue with loading custom Robot classes into the RobocodeEngine in my GameConfigurer. Weeks elapsed with no progression, I’d tried countless different methods to resolve the issue. After conversing with Flemming N. Larsen, one of the major contributors to the source code of Robocode, I told him my issue and he agreed to take a look. After studying my code and its problem, he debugged it and found the cause. He patched and updated the game, releasing the .JAR of the new version for me. It turned out it was technically impossible for me to fix the problem as it was an issue with the game itself.
                        h4.sub-heading Time Limitations
                        p Considering the aforementioned problems regarding the academic challenge, plus all the other smaller issues that I haven’t mentioned, it posed a deadline issue. I decided to cut the development short and produce results with the simplified algorithm, with intention to go back at the end and improve it, if there was time. After developing the website with all the JavaScript functionality, analysis, results, evaluation and conclusion, there just wasn’t enough time.
                        h4.sub-heading D3.JS Performance
                        p Because D3 works by manipulating SVG elements in the DOM (Document Object Model), large datasets can cause performance problems for the browser. The scatter diagram had over 1000 records passed to it, meaning that it created over 1000 SVG circles, mouse over and on click events for the browser to handle. This quickly uses up the available memory and
                        br
                    .col-xs-12
                        h4.sub-title
                            i.fa.fa-refresh
                            |  What Would I Change?
                        br
                        h4.sub-heading Initial Planning Phase
                        p Given that the Gantt chart solution did not provide any helpful time management for the project, a different approach to the initial planning phase would definitely be helpful if I were to do the project, or something similar, again.
                        h4.sub-heading Data Visualisation Library
                        p If I were to do the project again, or improve the existing state of it, I would choose a different data visualisation library for JavaScript that is better suited to large data sets. Such library would have to work differently to D3 in the backend and use something like the HTML canvas instead. This would vastly improve the performance of the graphs on the webpage and would open up the possibility to work with even larger datasets.
                        h4.sub-heading Robocode Tweet Parsing Algorithm
                        p One major element of the program that needed improving was the Java code that parsed the Tweets and produced the values for the Robots. This was the major variable in the whole process that determined the results of the project. As mentioned, there was not enough time to make the algorithm as complex as I would have liked. Therefore, if I were to improve the project in the future, I would spend more time improving and testing the TweetParser class that the RobotController uses.
                        h4.sub-heading Data Collection & Visual Analysis
                        p As discussed in the conclusion, I felt that the data was skewed and created a bias due to the fact that I had not simulated an even number of battles for each number of rounds. If I were to do the project again or re-collect the data, I would ensure that I keep the sub-sample sizes the same size to ensure that the experiment is fair and eliminates this factor from the analysis.
                    .col-xs-12
                        br
                        p(style="opacity: 0.8")
                            em The information in this section is an excerpt from the 'Reflection' chapter in my dissertation final report. You can download a copy of it #[a(href="/dissertation" target="_blank") here].
            .lineBlack
                .container
                    .row.downLine
                        .col-md-12.text-right
                            // input  id="searchPattern" type="search" name="pattern" value="Search the Site" onblur="if(this.value=='') {this.value='Search the Site'; }" onfocus="if(this.value =='Search the Site' ) this.value='';this.style.fontStyle='normal';" style="font-style: normal;"/
                            input#searchPattern(type='search', placeholder='Search the Site')
                            i#iS.glyphicon.glyphicon-search(style='font-size: 13px; color:#a5a5a5;')
                        .col-md-5.text-left.copy
                            p Copyright © 2018 Tom Plumpton. All Rights Reserved.
                        .col-md-7.text-right.dm
                            ul#downMenu
                                li.active
                                    a.page-scroll(href='#overview')
                                        i.fa.fa-fw.fa-pencil
                                        |  Overview
                                li
                                    a.page-scroll(href='#analysis')
                                        i.fa.fa-fw.fa-search
                                        |  Analysis
                                li
                                    a.page-scroll(href="#data-vis")
                                        i.fa.fa-fw.fa-bar-chart
                                        |  Visualisation
                                li
                                    a.page-scroll(href='#results')
                                        i.fa.fa-fw.fa-clipboard
                                        |  Results
                                li.last
                                    a.page-scroll(href='#reflection')
                                        i.fa.fa-fw.fa-eye
                                        |  Reflection
                                // li><a href="#features">Features</a></li
        //script(src='js/jquery.prettyPhoto.js', type='text/javascript', charset='utf-8')
        script(src='js/bootstrap.min.js')

        script(src="//d3js.org/d3.v4.min.js")
        script(src='js/simpleLinearRegression.js')
        script(src='js/standardDeviationVariance.js')
        script(src='js/robocodeResults.js')
        script(src='js/characterStats.js')
        script(src='js/jquery.slicknav.js')
        script(type="text/javascript").
            //Tweet Analysis Variables
            let charCount = !{charCount};
            let tweetCount = !{tweetCount};
            let emojiCount = !{emojiCount};
            let users = !{users};

            $(document).ready(function(){
                function sdf_FTS(_number,_decimal,_separator) {
                    let decimal = (typeof(_decimal) !== 'undefined') ? _decimal : 2;
                    let separator = (typeof(_separator) !== 'undefined') ? _separator : '';
                    let r = parseFloat(_number)
                    let exp10 = Math.pow(10, decimal);
                    r = Math.round(r * exp10) / exp10;
                    let rr = Number(r).toFixed(decimal).toString().split('.');
                    let b = rr[0].replace(/(\\d{1,3}(?=(\d{3})+(?:\.\d|\b)))/g,"\$1" + separator);
                    r=(rr[1] ? b + '.' + rr[1] : b);
                    return r;
                }

                setTimeout(function(){
                    $('#counter').text('0');
                    $('#counter1').text('0');
                    $('#counter2').text('0');
                    setInterval(function(){
                        let curval = parseInt($('#counter').text());
                        let curval1 = parseInt($('#counter1').text().replace(' ',''));
                        let curval2 = parseInt($('#counter2').text());
                        if(curval <= tweetCount){
                            $('#counter').text(curval + 40);
                        }

                        if(curval1 <= charCount){
                            $('#counter1').text(sdf_FTS((curval1 + 1300),0,' '));
                        }

                        if(curval2 <= emojiCount){
                            $('#counter2').text(curval2 + 15);
                        }
                    }, 1);
                }, 500);
            });
        script(type='text/javascript').
            jQuery(document).ready(function(){
                jQuery('#menu').slicknav();
            });
        script(type='text/javascript').
            $(document).ready(function(){
                let $menu = $("#menuF");
                $(window).scroll(function(){
                    if ( $(this).scrollTop() > 100 && $menu.hasClass("default") ){
                        $menu.fadeOut('fast',function(){
                            $(this).removeClass("default").addClass("fixed transbg").fadeIn('fast');
                        });
                    } else if($(this).scrollTop() <= 100 && $menu.hasClass("fixed")) {
                        $menu.fadeOut('fast',function(){
                            $(this).removeClass("fixed transbg").addClass("default").fadeIn('fast');
                        });
                    }
                });
            });
            //jQuery
        script.
            /*menu*/

            //This function calculates the point in the page at which the user has scrolled too. Sets nav active class
            function calculateScroll() {
                let contentTop = [];
                let contentBottom = [];
                let winTop = $(window).scrollTop();
                let rangeTop = 200;
                let rangeBottom = 500;
                $('.navmenu').find('a').each(function(){
                    contentTop.push($($(this).attr('href')).offset().top);
                    contentBottom.push($($(this).attr('href')).offset().top + $($(this).attr('href')).height());
                });
                $.each( contentTop, function(i){
                    if ( winTop > contentTop[i] - rangeTop && winTop < contentBottom[i] - rangeBottom ){
                        $('.navmenu li').removeClass('active').eq(i).addClass('active');
                    }
                });
            };

            $(document).ready(function(){
                calculateScroll();
                $(window).scroll(function(event) {
                    calculateScroll();
                });
            });
