doctype html
html(lang='en')
    head
        //Meta Data
        title Major Project
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        //Stylesheets (CSS & Google Fonts)
        link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='css/font-awesome.css')
        link(rel='stylesheet', type='text/css', href='css/animate.css')
        link#camera-css(rel='stylesheet', href='css/camera.css', type='text/css', media='all')
        link(rel='stylesheet', type='text/css', href='css/slicknav.css')
        //link(rel='stylesheet', href='css/prettyPhoto.css', type='text/css', media='screen', title='prettyPhoto main stylesheet', charset='utf-8')
        link(rel='stylesheet', type='text/css', href='css/style.css')
        link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Roboto:400,300,700|Open+Sans:700')
        link(rel='stylesheet', type='text/css', href='css/d3.css')

        //Scripts
        script(type='text/javascript', src='js/jquery-1.8.3.min.js')
        script(type='text/javascript', src='js/jquery.mobile.customized.min.js')
        script(type='text/javascript', src='js/jquery.easing.1.3.js')
        script(type='text/javascript', src='js/camera.min.js')
        script(type='text/javascript', src='js/myscript.js')
        //script(src='js/sorting.js', type='text/javascript')
        //script(src='js/jquery.isotope.js', type='text/javascript')
        script.
            jQuery(function(){
                jQuery('#camera_wrap_1').camera({
                    transPeriod: 500,
                    time: 3000,
                    height: '490px',
                    thumbnails: false,
                    pagination: true,
                    playPause: false,
                    loader: false,
                    navigation: false,
                    hover: false
                });
            });
    body
        //Overview
        section#overview
            .headerLine
                #menuF.default
                    .container
                        .row
                            .logo.col-md-2
                                div
                                    a(href='#')
                                        img(src='images/twitter_logo_sml.png')
                            .col-md-10
                                .navmenu#navmenu(style='text-align: center;')
                                    ul#menu
                                        li.active
                                            a.page-scroll(href='#overview')
                                                i.fa.fa-fw.fa-pencil
                                                |  Overview
                                        li
                                            a.page-scroll(href='#analysis')
                                                i.fa.fa-fw.fa-search
                                                |  Analysis
                                        li
                                            a.page-scroll(href="#data-vis")
                                                i.fa.fa-fw.fa-bar-chart
                                                |  Visualisation
                                        li
                                            a.page-scroll(href='#results')
                                                i.fa.fa-fw.fa-clipboard
                                                |  Results
                                        li.last
                                            a.page-scroll(href='#reflection')
                                                i.fa.fa-fw.fa-eye
                                                |  Reflection
                        .row
                            .col-sm-4.col-sm-offset-8.back-to-main
                                ul
                                    li
                                        a(href="https://tomplumpton.me")
                                            i.fa.fa-fw.fa-arrow-left
                                            |  Back to tomplumpton.me
                .container
                    .row.wrap
                        .col-md-12.gallery
                            #camera_wrap_1.camera_wrap.camera_white_skin
                                div(data-thumb='', data-src='images/slides/blank.gif')
                                    .img-responsive.camera_caption.fadeFromBottom
                                        h2 Major Project
                                        h3 Final year disseration project. By Thomas Plumpton.
                                div(data-thumb='', data-src='images/slides/blank.gif')
                                    .img-responsive.camera_caption.fadeFromBottom
                                        h2 Pseudo &amp Truly Random
                                        h3 Determining whether Twitter's Tweets are Pseudo-Random or Truly-Random.
                                div(data-thumb='', data-src='images/slides/blank.gif')
                                    .img-responsive.camera_caption.fadeFromBottom
                                        h2 Twitter &amp; Robocode
                                        h3 Integrating IBM's Robocode with the Twitter API.
                                div(data-thumb='', data-src='images/slides/blank.gif')
                                    .img-responsive.camera_caption.fadeFromBottom
                                        h2 D3.JS (Data Driven Documents)
                                        h3 Data visualisation powered by D3.JS.
            .container
                .row
                    .col-md-4.project
                        h3#counter 0
                        h4
                            i.fa.fa-fw.fa-twitter
                            |  Tweets Analysed
                        p
                            | Thousands of Tweets stored in the MongoDB Atlas Cluster are parsed using a bespoke Java program and Twitter4J.
                    .col-md-4.project
                        h3#counter1 0
                        h4
                            i.fa.fa-fw.fa-sort-alpha-asc
                            |  Characters Counted
                        p
                            | Thousands of Tweets means millions of characters. Each character represents a single instruction for a TwitterRobot.
                    .col-md-4.project
                        h3#counter2 0
                        h4
                            i.fa.fa-fw.fa-smile-o
                            |  Emoji's Counted
                        p
                            | Thousands of annoying little emoji's, varied by Fitzpatrick Modifiers. Yep, there really were that many...
        section.section-padding
            .container
                .row
                    .col-md-12.cBusiness
                        h3 Analysing the Randomness of Social Media
                        h4 Statistical Overview
            #characterDataVisMenu.container
                ul.nav.nav-tabs.nav-justified
                    li.active
                        a(href='#1', data-toggle='tab')
                            i.fa.fa-fw.fa-lg.fa-bar-chart
                            |  Bar Chart
                    li
                        a(href='#2', data-toggle='tab')
                            i.fa.fa-fw.fa-lg.fa-pie-chart
                            |  Pie Charts
                    li
                        a(href='#3', data-toggle='tab')
                            i.fa.fa-fw.fa-lg.fa-line-chart
                            |  Line Chart
                .tab-content
                    #1.tab-pane.active
                        .container.loading
                            i.fa.fa-fw.fa-lg.fa-4x.fa-pulse.fa-spinner
                            p Analysing Data...
                        .container.characterStatsBar
                            .row
                                #cfbcFloatingDiv
                                #characterFrequencyBarChart
                            .row.text-center.bar-chart-sort
                                .col-sm-2.col-sm-offset-3
                                    label.sort Alphabetical
                                    input#sort-alpha(type="radio" name="sort-bar-chart" value="Alpha" checked)
                                .col-sm-2
                                    label.sort Ascending
                                    input#sort-asc(type="radio" name="sort-bar-chart" value="Asc")
                                .col-sm-2
                                    label.sort Descending
                                    input#sort-desc(type="radio" name="sort-bar-chart" value="Desc")
                    #2.tab-pane
                        .container-fluid.characterStatsPie
                            .row
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.a(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 A
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.b(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 B
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.c(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 C
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.d(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 D
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.e(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 E
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.f(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 F
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.g(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 G
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.h(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 H
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.i(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 I
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.j(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 J
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.k(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 K
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.l(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 L
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.m(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 M
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.n(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 N
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.o(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 O
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.p(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 P
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.q(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 Q
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.r(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 R
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.s(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 S
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.t(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 T
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.u(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 U
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.v(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 V
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.w(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 W
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.x(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 X
                                .col-xs-4.col-md-1.col-md-offset-5.bar
                                    .progB.chart.y(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 Y
                                .col-xs-4.col-md-1.bar
                                    .progB.chart.z(data-animate='3500')
                                        .chart.chart-content
                                            .percentage()
                                                span.percent
                                    .textP
                                        h3 Z
                    #3.tab-pane
                        h3 Line Chart To Go Here
        section.section-padding
            .container
                .row
                    .col-md-4
                        label Select Twitter User
                        select#twitterUsers.form-control(name="twitterUsers")
                    .col-md-6
                        .selectedTwitterUser
                            #username
                            #screenName
                            #followers
                            #following
                            #tweets
        //Data Analysis
        section#analysis
            .line2
                .container
                    .row.Fresh
                        h1.section-title
                            i.fa.fa-fw.fa-search
                            |  Analysis
                        .col-md-4.analysis-header
                            i.fa.fa-eye
                            h4 Visual Analysis
                            p
                                | One method of determining the random nature of the data is a simple visual analysis. See the data visualisation below.
                        .col-md-4.analysis-header
                            i.fa.fa-flask
                            h4 Mathematical Analysis
                            p
                                | Statistical attributes such as standard deviation and variance will be measured to gain a more empirical conclusion.
                        .col-md-4.analysis-header
                            i.fa.fa-line-chart
                            h4 Statistical Analysis
                            p
                                | A statistical method useful to the analysis of the data is linear regression, specifically the method of least squares.
                .container
                    .row
                        //Analysis Section Here
        section#data-vis
            .line3
                .container
                    .row.Fresh
                        h1.section-title
                            i.fa.fa-fw.fa-bar-chart
                            |  Data Visualisation
                        .col-md-4.analysis-header
                            i.fa.fa-bar-chart-o
                            h4 D3.JS
                            p
                                | A JavaScript library that manipulates SVG elements in the Document Object Model. A powerful library, bringing dynamic data to life.
                        .col-md-4.analysis-header
                            i.fa.fa-pie-chart
                            h4 Easy Pie Chart
                            p
                                | Lightweight plugin to render simple, animated and retina optimized pie charts. Great for displaying relative percentages of data.
                        .col-md-4.analysis-header
                            i.fa.fa-search
                            h4 Analysing Data
                            p
                                | This section extends the previous one, providing the means for visual analysis and ultimately concluding results for the next section.

        section#results
            .line4
                .container
                    .row.Fresh
                        h1.section-title
                            i.fa.fa-fw.fa-clipboard
                            |  Results
                        .col-md-4.analysis-header
                            i.fa.fa-random
                            h4 Random Nature
                            p
                                | The final conclusion. Have I created a PRNG or a TRNG? Or is it somewhere in-between? Was it worth it?
                        .col-md-4.analysis-header
                            i.fa.fa-bullseye
                            h4 Robocode's Influence
                            p
                                | Evaluation will help better understand the influence Robocode had on the random nature of the results.
                        .col-md-4.analysis-header
                            i.fa.fa-book
                            h4 Language Bias?
                            p
                                | Does the #[a.page-scroll(href="#overview") variance of characters] in the English language skew the results and change the outcome?
        section#reflection
            .line5
                .container
                    .row.Fresh
                        h1.section-title
                            i.fa.fa-fw.fa-eye
                            |  Reflection
                        .col-md-4.analysis-header
                            i.fa.fa-check
                            h4 The Good
                            p
                                | What went well during the project? Did everything go as planned? What was the biggest academic challenge?
                        .col-md-4.analysis-header
                            i.fa.fa-ban
                            h4 The Bad
                            p
                                | What went wrong during the project? Was there anything that caused significant issues?
                        .col-md-4.analysis-header
                            i.fa.fa-refresh
                            h4 What Would I Change?
                            p
                                | If I were to do the project again, or continue it. What changes would I make, and why?
            .lineBlack
                .container
                    .row.downLine
                        .col-md-12.text-right
                            // input  id="searchPattern" type="search" name="pattern" value="Search the Site" onblur="if(this.value=='') {this.value='Search the Site'; }" onfocus="if(this.value =='Search the Site' ) this.value='';this.style.fontStyle='normal';" style="font-style: normal;"/
                            input#searchPattern(type='search', placeholder='Search the Site')
                            i#iS.glyphicon.glyphicon-search(style='font-size: 13px; color:#a5a5a5;')
                        .col-md-6.text-left.copy
                            p Copyright © 2018 Tom Plumpton. All Rights Reserved.
                        .col-md-6.text-right.dm
                            ul#downMenu
                                li.active
                                    a.page-scroll(href='#overview')
                                        i.fa.fa-fw.fa-pencil
                                        |  Overview
                                li
                                    a.page-scroll(href='#analysis')
                                        i.fa.fa-fw.fa-search
                                        |  Analysis
                                li
                                    a.page-scroll(href="#data-vis")
                                        i.fa.fa-fw.fa-bar-chart
                                        |  Visualisation
                                li
                                    a.page-scroll(href='#results')
                                        i.fa.fa-fw.fa-clipboard
                                        |  Results
                                li.last
                                    a.page-scroll(href='#reflection')
                                        i.fa.fa-fw.fa-eye
                                        |  Reflection
                                // li><a href="#features">Features</a></li
        //script(src='js/jquery.prettyPhoto.js', type='text/javascript', charset='utf-8')
        script(src='js/bootstrap.min.js')
        script(src="//d3js.org/d3.v4.min.js")
        script(src='js/characterStats.js')
        script(src='js/jquery.slicknav.js')
        script(type="text/javascript").
            //Tweet Analysis Variables
            let charCount = !{charCount};
            let tweetCount = !{tweetCount};
            let emojiCount = !{emojiCount};
            let users = !{users};

            $(document).ready(function(){
                function sdf_FTS(_number,_decimal,_separator) {
                    let decimal = (typeof(_decimal) !== 'undefined') ? _decimal : 2;
                    let separator = (typeof(_separator) !== 'undefined') ? _separator : '';
                    let r = parseFloat(_number)
                    let exp10 = Math.pow(10, decimal);
                    r = Math.round(r * exp10) / exp10;
                    let rr = Number(r).toFixed(decimal).toString().split('.');
                    let b = rr[0].replace(/(\\d{1,3}(?=(\d{3})+(?:\.\d|\b)))/g,"\$1" + separator);
                    r=(rr[1] ? b + '.' + rr[1] : b);
                    return r;
                }

                setTimeout(function(){
                    $('#counter').text('0');
                    $('#counter1').text('0');
                    $('#counter2').text('0');
                    setInterval(function(){
                        let curval = parseInt($('#counter').text());
                        let curval1 = parseInt($('#counter1').text().replace(' ',''));
                        let curval2 = parseInt($('#counter2').text());
                        if(curval <= tweetCount){
                            $('#counter').text(curval + 40);
                        }

                        if(curval1 <= charCount){
                            $('#counter1').text(sdf_FTS((curval1 + 1300),0,' '));
                        }

                        if(curval2 <= emojiCount){
                            $('#counter2').text(curval2 + 15);
                        }
                    }, 1);
                }, 500);
            });
        script(type='text/javascript').
            jQuery(document).ready(function(){
                jQuery('#menu').slicknav();
            });
        script(type='text/javascript').
            $(document).ready(function(){
                let $menu = $("#menuF");
                $(window).scroll(function(){
                    if ( $(this).scrollTop() > 100 && $menu.hasClass("default") ){
                        $menu.fadeOut('fast',function(){
                            $(this).removeClass("default").addClass("fixed transbg").fadeIn('fast');
                        });
                    } else if($(this).scrollTop() <= 100 && $menu.hasClass("fixed")) {
                        $menu.fadeOut('fast',function(){
                            $(this).removeClass("fixed transbg").addClass("default").fadeIn('fast');
                        });
                    }
                });
            });
            //jQuery
        script.
            /*menu*/

            //This function calculates the point in the page at which the user has scrolled too. Sets nav active class
            function calculateScroll() {
                let contentTop = [];
                let contentBottom = [];
                let winTop = $(window).scrollTop();
                let rangeTop = 200;
                let rangeBottom = 500;
                $('.navmenu').find('a').each(function(){
                    contentTop.push($($(this).attr('href')).offset().top);
                    contentBottom.push($($(this).attr('href')).offset().top + $($(this).attr('href')).height());
                });
                $.each( contentTop, function(i){
                    if ( winTop > contentTop[i] - rangeTop && winTop < contentBottom[i] - rangeBottom ){
                        $('.navmenu li').removeClass('active').eq(i).addClass('active');
                    }
                });
            };

            $(document).ready(function(){
                calculateScroll();
                $(window).scroll(function(event) {
                    calculateScroll();
                });
            });
